.addproduct
{
    
    width: 100%;
}
.input-faild-main
{
    display: grid;
    width: 100%;
    justify-content: center;
}
.input-faild{
    width: 500px;
    height: 30px;
}
.addprodut-btn
{
    height: 30px;
    background-color: skyblue;
}
.spam-class{
    color: red;
    margin-left: -355px;
    padding-bottom: 15px;

}